<template name="listsTmpl">
<div class="container">
    <!-- LIST SUMMARY -->
    <details id="listDetails" open="open">
        <summary id="listSummary">List Summary</summary>
        <table class="dataTab">
            <tr class="iTR"><th class="colHeaders">List Name</th>
                <td class="colVals">
                    <input list="lists" id="ListName" class="listIn" placeholder="LogicalName EntType ListType"
                           title="LogicalName:={MalwareC2,RogueAP,AcctActivity...}; EntType:={Domain,FQDN,IP,CIDR,MAC,Cred...}; ListType:={WL,BL};" />
                    <datalist id="lists">
                        {{#each lists}}
                            {{> listTmpl}}
                        {{/each}}  
                    </datalist></td>
                    {{{delButton}}}
            </tr>

            <tr class="iTR">
                <th class="colHeaders">Purpose</th>
                <td class="colVals"><input id="ListPurpose" class="inVal" type="text" placeholder="Purpose for this list" /></td></tr>
                    
            <tr class="iTR"><th class="colHeaders">Source Type</th><td class="colVals">
                    <select id="SrcTypeSel" title="Source Type" class="scopeSelector">
                        <option disabled selected value="">Select Source Type</option>
                        <option class="scopeOpt" title="Online"  value="online"    >Online (list from Source URI)</option>
                        <option class="scopeOpt" title="Manual"  value="manual"    >Manual (custom list)</option>
                    </select></td></tr></table>
    </details>

    <details id="listAttrDetails" open="open">
        <summary id="listAttrSummary">List Attributes</summary>
        <table class="dataTab">
            <tr class="iTR" id="UriRow">
                <th class="colHeaders">Source URI</th> 
                <td class="colVals"><a href="#" id="UriLink" target="TRWin">&gt;</a> <input id="Uri" class="inValShort" type="text" placeholder="URI for online list (if applicable)" /></td></tr> 

            <tr class="iTR" id="ParsingRuleRow">
                <th class="colHeaders">Parsing Rule</th>  
                <td class="colVals"><input id="ParsingRule" class="inValShort" type="text" placeholder="Rule for parsing input from remote source." title="Used by Javascript Regex: 'var re = RegExp(ParsingRule);'. Click Help if needed."/>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions" target="refwin">Regex Help</a></td></tr> 

            <tr class="iTR"><th class="colHeaders">List Type</th><td class="colVals">
                    <select id="ListTypeSel" title="List Type" class="scopeSelector">
                        <option disabled selected value="">Select List Type</option>
                        <option class="scopeOpt" title="Malware Black List"     value="BL"   >Malware Black List</option>
                        <option class="scopeOpt" title="Malware White List"     value="WL"   >Malware White List</option>
                        <option class="scopeOpt" title="Device Black List"      value="DBL"  >Device Black List</option>
                        <option class="scopeOpt" title="Device White List"      value="DWL"  >Device White List</option>
                        <option class="scopeOpt" title="Device Manufacturer"    value="DM"   >Device Manufacturer</option>
                        <option class="scopeOpt" title="SIEM Config"            value="CONF" >SIEM Config</option>
                        <option class="scopeOpt" title="Plain Text (Gen. Purpose)" value="TEXT" >Plain Text</option>
                        <option class="scopeOpt" title="Generic CSV Content"    value="CSV" >Generic CSV Content</option>
                        <option class="scopeOpt" title="HBase Reference Data"   value="HBRD" >HBase Ref. Data</option>
                    </select></td></tr>            
                        
            <tr class="iTR"><th class="colHeaders">Entity Type</th><td class="colVals">
                    <select id="EntTypeSel" title="Entity Type" class="scopeSelector">
                        <option disabled selected value="">Select Entity Type</option>
                        <option class="scopeOpt" title="Domain"  value="domain"    >Domain Name</option>
                        <option class="scopeOpt" title="FQDN"    value="fqdn"      >Host Name (FQDN)</option>
                        <option class="scopeOpt" title="IP"      value="ip"        >IP Address</option>
                        <option class="scopeOpt" title="MAC"     value="mac"       >MAC Address</option>
                        <option class="scopeOpt" title="Account" value="account"   >Account Name</option>
                        <option class="scopeOpt" title="Catchall Config: GROUP_NAME,SHORT_NAME,HOST_ALIAS1,HOST_ALIAS2..." value="catchall">Catchall Config (CSV)</option>
                        <option class="scopeOpt" title="Event Forwarding Config: DOMAIN,CONFIG_TYPE,SOURCE_HOST,FILE_PATH" value="eventfwd">Event Forwarding Config (CSV)</option>
                        <option class="scopeOpt" title="Plain Text (for testing)" value="text">Plain Text</option>
                        <option class="scopeOpt" title="CSV data" value="csv">CSV Data</option>
                        <option class="scopeOpt" title="Base64-encoded JSON objects" value="jsonb64">JSON/Base64 Data</option>
                    </select></td></tr></table>
    </details>

    <details id="entityListDetails" open="open">
        <summary id="entityListSummary">Entity List</summary>
        <table class="dataTab">
            <tr class="iTR"><td class="colVals">
                <textarea id="EntityList" class="testKbTA" rows="20" placeholder="List of entities (one per line)"></textarea></td></tr></table>
    </details>
    
    <button id="btnGetList" title="Download list and test Parsing Rule" disabled>Update List</button>
    <button id="btnCsvValidate"  title="Validate this list prior to deployment." onclick="validateCall()">Validate</button>
    {{> adminButtonsTmpl}}
    <!--
    <button id="btnCsvReport"  title="Download the current list as CSV." onclick="alert('Not implemented yet!')">Download</button>
    <button id="btnUpdate"    title="Üpdate code from GIT">Update</button>
    -->
</div>
</template>
        
<template name="listTmpl">
    <option value="{{name}}"></option>
</template>

<template name="adminButtonsTmpl">
    {{{adminButtons}}}
</template>