<template name="searchTmpl">
<div class="container">
<!-- SEARCH CRITERIA -->
<details id="searchDetails" open="open">
    <summary id="searchSummary">Search Criteria</summary>
    <table class="dataTab">
        <tr class="iTR"><th class="colHeaders">Source Type</th><td class="colVals">
                <select id="SourceTypeSel" title="Source Type" class="scopeSelector">
                    <option disabled value="" selected>Select Source Type</option>
                    <option class="scopeOpt" title="MongoDB Collection" value="Mongo"  >Resource Mappings (MongoDB)</option>
                    <option class="scopeOpt" title="Entity Map"       value="EntityMap">Entity Mappings (HBase)</option>
                </select></td></tr>            

        <tr class="iTR"><th class="colHeaders">Entity Type</th><td class="colVals">
            <select id="EntTypeSel" title="Entity Type" class="scopeSelector">
                <option disabled value="" selected>Select Entity Type</option>
                <option class="scopeOpt" title="Domain Name"                    value="domain"  >Domain Name</option>
                <option class="scopeOpt" title="Host FQDN"                      value="fqdn"    >Host Name (FQDN)</option>
                <option class="scopeOpt" title="IP Address"                     value="ip"      >IP Address</option>
                <option class="scopeOpt" title="MAC Address"                    value="mac"     >MAC Address</option>
                <option class="scopeOpt" title="Account Name (TID, email...)"   value="account" >Account Name</option>
                <option class="scopeOpt" title="Email Address"                  value="email"   >Email Address</option>
                <option class="scopeOpt" title="List Name (black/white list)"   value="list"    >List Name</option>
            </select></td></tr>

        <tr class="iTR" id="ParsingRuleRow">
            <th class="colHeaders">Entity Name</th>  
            <td class="colVals"><input id="EntityName" type="text" placeholder="Unique name for entity" title="Unique Entity Name. Can be left empty when EntityType:=ListName." />
                <!-- <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions" target="refwin">Regex Help</a> -->
            </td></tr> 

        <tr class="iTR"><th class="colHeaders">Mapping Type</th><td class="colVals">
            <select id="MappingTypeSel" title="Mapping Type" class="scopeSelector">
                <option disabled value="" selected>Select Mapping Type</option>
                <option class="scopeOpt" title="Malware Black List"     value="BL"        >Malware Black List</option>
                <option class="scopeOpt" title="Malware White List"     value="WL"        >Malware White List</option>
                <option class="scopeOpt" title="Device Black List"      value="DBL"       >Device Black List</option>
                <option class="scopeOpt" title="Device White List"      value="DWL"       >Device White List</option>
                <option class="scopeOpt" title="Device Manufacturer"    value="DM"        >Device Manufacturer</option>
                <option class="scopeOpt" title="HBase Reference Data"   value="HBRD"      >HBase Ref. Data</option>                
                <option class="scopeOpt" title="Domain"                 value="domain"    >Domain Name</option>
                <option class="scopeOpt" title="FQDN"                   value="fqdn"      >Host Name (FQDN)</option>
                <option class="scopeOpt" title="IP"                     value="ip"        >IP Address</option>
                <option class="scopeOpt" title="MAC"                    value="mac"       >MAC Address</option>
                <option class="scopeOpt" title="Account"                value="account"   >Account Name</option>
                <option class="scopeOpt" title="Email"                  value="email"     >Email Address</option>
            </select></td></tr>

        
        <tr class="iTR" id="ParsingRuleRow">
            <th class="colHeaders">Filter</th>  
            <td class="colVals"><input id="SearchFilter" class="inValShort" type="text" placeholder="Optional rule for reducing the number of matches." title="Parsing Rule" />
                    <!-- <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions" target="refwin">Regex Help</a> -->
            </td></tr> 
    
        <tr class="iTR"><th class="colHeaders">Canned Queries</th><td class="colVals">
            <select id="WorkingExampleSel" class="scopeSelector" title="Select an example to prefill the above fields with queries that are known to work.">
                <option value="" selected>Select a working example</option>
                <option class="scopeOpt" title="Malware Black List"     value="BL"        >Malware Black List</option>
                <option class="scopeOpt" title="Malware White List"     value="WL"        >Malware White List</option>
                <option class="scopeOpt" title="Device Black List"      value="DBL"       >Device Black List</option>
                <option class="scopeOpt" title="Device White List"      value="DWL"       >Device White List</option>
                <option class="scopeOpt" title="Device Manufacturer"    value="DM"        >Device Manufacturer</option>
                <option class="scopeOpt" title="HBase Reference Data"   value="HBRD"      >HBase Ref. Data</option>                
                <option class="scopeOpt" title="Domain"                 value="domain"    >Domain Name</option>
                <option class="scopeOpt" title="FQDN"                   value="fqdn"      >Host Name (FQDN)</option>
                <option class="scopeOpt" title="IP"                     value="ip"        >IP Address</option>
                <option class="scopeOpt" title="MAC"                    value="mac"       >MAC Address</option>
                <option class="scopeOpt" title="Account"                value="account"   >Account Name</option>
                <option class="scopeOpt" title="Email"                  value="email"     >Email Address</option>
            </select></td></tr>
    </table>    
</details>

<details id="matchesDetails" open="open">
    <summary id="matchesSummary">Matches</summary>
    <table class="dataTab">
        <tr class="iTR"><td class="colVals">
            <textarea id="MatchedEntriesTA" class="testKbTA" rows="20" placeholder="Matched entries will show-up here after clicking Search"></textarea></td></tr></table>
</details>

<button id="btnSearchMapping"      title="Search for Mapping"                  onclick="searchCall();">Search</button> 
<button id="btnCsvExportMappings"  title="Export matches as CSV and download." onclick="window.open(\'/search-results.csv\'" target='DownloadWin'>Export Matches</button>
</div>
</template>
        
